/* Colors
#e63946 - red
#ffffff - white
#F1FAEE - off white
#a8dadc - light blue
#457b9d - dark blue 
#1d3557 - navy blue default base color
*/

body {
  background-color: #ffffff;
  color: #1d3557;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}
.sidenav {
  height: 100%;
  width: 240px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1d3557;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 20px;
  color: #f1faee;
  text-align: center;
}
.nav-title {
  display: block;
  padding: 1rem 0;
  font-size: 2.5rem;
}
.nav-link {
  display: block;
  padding: 1rem 0;
  margin: 10px 0;
}
.nav-link:hover {
  cursor: pointer;
}
.inactive-nav {
  box-shadow: inset 0 0 0 0 #1d3557;
  border: 1px #1d3557;
  border-radius: 10px;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.inactive-nav:hover {
  box-shadow: inset 280px 0 0 0 #f1faee;
  color: #1d3557;
}
.nav-selected {
  color: #e63946;
}
.content {
  margin-left: 280px; /* Same as the width of the sidenav */
}
